<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuário</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="mobile">

<div class="login-container">

    <div class="logo">
        TUGARIN
    </div>

    <form action="/cadastro-usuario" method="POST">

     <label>E-mail: </label>
        <input
         type="email"
         name="email"
         placeholder="Digite seu e-mail"
         required
        >
        <br>
        <br>
        <label>Senha:</label>
        <input
        type="password"
        name="senha"
        placeholder="Digite sua senha"
        required
        >
        <br>
        <button type="submit" class="btn-cadastro-completo">
        Cadastrar
        </button>

     </form>

    </div>
</div>
</body>
</html>