<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="topo">
  <h1>Registrar Tartaruga</h1>
</div>

<div class="container-form">

<form action="/salvar" method="POST" enctype="multipart/form-data">

  <label>Identificação</label>
  <input type="text" name="identificacao" required>

  <br>
  <br>

  <label>Espécie</label>
  <select name="especie" required>
    <option value="">Selecione</option>
    <option>Tartaruga Verde</option>
    <option>Tartaruga de Couro</option>
    <option>Tartaruga Cabeçuda</option>
  </select>

  <br>
  <br>

  <label>Local encontrada</label>
  <select name="local" required>
    <option value="">Selecione</option>
    <option>Praia Grande</option>
    <option>Praia do Centro</option>
    <option>Praia do Norte</option>
  </select>

  <br>
  <br>

  <label>Situação</label>

  <div class="checkboxes">

    <label>
      <input type="radio" name="situacao" value="Saudável">
      Saudável
    </label>

    <label>
      <input type="radio" name="situacao" value="Ferida">
      Ferida
    </label>

    <label>
      <input type="radio" name="situacao" value="Encalhada">
      Encalhada
    </label>

  </div>

<br>
<br>

  <label>Observações</label>
  <textarea name="observacoes"></textarea>

  <br>
  <br>

  <label>Imagem</label>
  <input type="file" name="imagem">

  <br>
  <br>

  <button type="submit" class="btn-salvar">
    Salvar
  </button>

</form>

</div>

</body>
</html>