* {
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #20c5b2;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.sem-registros {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 22px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.imagem-card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p {
  margin-top: 8px;
}

.btn-excluir {
  width: 100%;
  margin-top: 15px;
  background: crimson;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.login-container {
  max-width: 400px;
  margin: 120px auto;
  padding: 25px;
}

.logo {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  color: #0fa8b7;
  margin-bottom: 60px;
}

.login-botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn-login,
.btn-cadastro-user {
  width: 45%;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn-login {
  background: #83c7de;
}

.btn-cadastro-user {
  background: #19c7b5;
}